<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- method: app-store | ad-hoc | development | enterprise -->
	<key>method</key>
	<string>app-store</string>

	<key>teamID</key>
	<string>5P5S5X2NJ3</string>

	<key>signingStyle</key>
	<string>manual</string>

	<key>provisioningProfiles</key>
	<dict>
		<key>com.eouw0o83hf.synaesthetic</key>
		<string>match AppStore com.eouw0o83hf.synaesthetic</string>
	</dict>

	<key>stripSwiftSymbols</key>
	<true/>

	<key>uploadBitcode</key>
	<false/>

	<key>compileBitcode</key>
	<false/>

	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
